:root {
  /* Warna Utama */
  --primary-color:      #8B0000;  /* Merah tua */
  --secondary-color:    #da6b6b;  /* Merah muda hangat */
  --background-color:   #ce7575;  /* Latar merah lembut */

  /* Warna Teks */
  --text-light:         #f5f2f2;  /* Teks terang */
  --text-dark:          #000000;  /* Teks gelap */

  /* Tipografi */
  --font-family:        'Poppins', sans-serif;
}
